In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('play_by_play.csv')
df.head()

,Unnamed: 0,time,event,team,game
0,0,1,Start Half,NaN,"{'', 'on', 'Everton', 'Crystal Palace', '\r\n\..."
1,1,1,Throw-In,Everton,"{'', 'on', 'Everton', 'Crystal Palace', '\r\n\..."
2,2,1,Cross,Everton,"{'', 'on', 'Everton', 'Crystal Palace', '\r\n\..."
3,3,1,Cross,Everton,"{'', 'on', 'Everton', 'Crystal Palace', '\r\n\..."
4,4,2,Throw-In,Everton,"{'', 'on', 'Everton', 'Crystal Palace', '\r\n\..."

In [22]:
# Want to make the game the index

In [23]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [24]:
df.head() # need to clean up game and add an inner index

  time       event     team                                               game
0    1  Start Half      NaN  {'', 'on', 'Everton', 'Crystal Palace', '\r\n\...
1    1    Throw-In  Everton  {'', 'on', 'Everton', 'Crystal Palace', '\r\n\...
2    1       Cross  Everton  {'', 'on', 'Everton', 'Crystal Palace', '\r\n\...
3    1       Cross  Everton  {'', 'on', 'Everton', 'Crystal Palace', '\r\n\...
4    2    Throw-In  Everton  {'', 'on', 'Everton', 'Crystal Palace', '\r\n\...

In [43]:
number_of_events_per_game = df['game'].value_counts().to_dict()
len(number_of_events_per_game)

165

In [44]:
ordered_games = df['game'].unique()
ordered_games[:3]

array(["{'', 'on', 'Everton', 'Crystal Palace', '\\r\\n\\r\\nCrystal Palace 0-0 Everto'}",
       "{'', 'on', 'Liverpool', '\\r\\n\\r\\nLiverpool 4-1 Norwich Cit', '\\r\\n\\r\\nLiverpool 4-0 Norwich Cit', 'Norwich City'}",
       "{'', 'on', 'Burnley', 'Southampton', '\\r\\n\\r\\nBurnley 3-0 Southampto', '\\r\\n\\r\\nBurnley 0-0 Southampto'}"],
      dtype=object)

In [45]:
list_of_games = []
list_of_indicies = []
for game in ordered_games:
    game_list = [game for i in range(number_of_events_per_game[game])]
    value_list = [i for i in range(number_of_events_per_game[game])]
    list_of_games.append(game_list)
    list_of_indicies.append(value_list)

In [46]:
games = []
values = []
for l in list_of_games:
    games += l
for k in list_of_indicies:
    values += k 
# now we should have two lists to zip and create a hierarchical index

In [47]:
hier_index = list(zip(games, values))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [52]:
df.set_index(hier_index, inplace=True)

In [55]:
df.head() # all ready to go

                                                     time       event     team
{'', 'on', 'Everton', 'Crystal Palace', '\r\n\r... 0    1  Start Half      NaN
                                                   1    1    Throw-In  Everton
                                                   2    1       Cross  Everton
                                                   3    1       Cross  Everton
                                                   4    2    Throw-In  Everton